<%- include('../partials/menu') %>

<h2>Painel do Administrador</h2>
<p>Bem-vindo, <%= user.name %>! Aqui você pode gerenciar usuários, pedidos e restaurantes.</p>

<%- include('../partials/footer') %>
