<%- include('../partials/menu') %>


<h2>Login</h2>


<% if (success) { %>
<p class="success"><%= success %></p>
<% } %>
<% if (error) { %>
<p class="error"><%= error %></p>
<% } %>


<form action="/auth/login" method="POST" class="form-container">
<input type="email" name="email" placeholder="E-mail" required />
<input type="password" name="password" placeholder="Senha" required />
<button type="submit">Entrar</button>
</form>


<%- include('../partials/footer') %>