<%- include('partials/menu') %>

<h2>Painel Administrativo</h2>

<ul>
  <li><a href="/admin/users">Gerenciar Usuários</a></li>
  <li><a href="/admin/orders">Gerenciar Pedidos</a></li>
</ul>

<%- include('partials/footer') %>
