<%- include('../partials/menu') %>

<div class="order-confirmation-page">
  <div class="order-confirmation-container">
    <h2><%= message %></h2>
    <p>Pedido nº <%= order.id %> criado com sucesso!</p>

    <img src="/images/pedido.png" alt="Volte sempre" class="order-image" />

    <a href="/home" class="btn-home">Voltar para a página inicial</a>
  </div>
</div>

<%- include('../partials/footer') %>
