<%- include('../partials/menu') %>

<h2>COMPRA FINALIZADA!</h2>
<p>Seu pedido está sendo preparado. Obrigado por comprar conosco!</p>
<a href="/home">Voltar para home</a>

<%- include('../partials/footer') %>
