<%- include('../partials/menu') %>

<h2><%= message %></h2>
<p>Pedido nº <%= order.id %> criado com sucesso!</p>

<img src="https://i.pinimg.com/736x/d0/51/13/d0511371b80b3a47cf17eb04f24b494f.jpg" alt="Volte sempre" width="300" />

<a href="/home">Voltar para a página inicial</a>

<%- include('../partials/footer') %>
