<nav class="navbar">
  <a href="/" class="logo">FoodExpress</a>

  <div class="menu-toggle" id="mobile-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links">
    <li><a href="/home">Home</a></li>
    <li><a href="/buscar/pratos">Buscar</a></li>
    <li><a href="/cart">Carrinho</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Registrar</a></li>
  </ul>
</nav>
