<%- include('partials/menu') %>

<h2>Cadastro</h2>

<form action="/auth/cadastro" method="POST" class="form-container">
  <input type="text" name="name" placeholder="Nome completo" required />
  <input type="email" name="email" placeholder="E-mail" required />
  <input type="password" name="password" placeholder="Senha" required />

  <label for="isAdmin">Tipo de usuário:</label>
  <select name="isAdmin" id="isAdmin">
    <option value="false">Usuário comum</option>
    <option value="true">Administrador</option>
  </select>

  <button type="submit">Cadastrar</button>
</form>


<%- include('partials/footer') %>
