<%- include('partials/menu') %>
<!DOCTYPE html>
<html>
<head>
  <title>FoodExpress - Carrinho</title>
</head>
<body>
  <h1>Meu Carrinho</h1>

  <% if(cart.length === 0){ %>
    <p>Seu carrinho está vazio!</p>
  <% } else { %>
    <ul>
      <% cart.forEach(item => { %>
        <li><%= item.product.name %> x <%= item.quantity %> - R$ <%= (item.product.price * item.quantity).toFixed(2) %></li>
      <% }) %>
    </ul>
    <form action="/orders/finalizar" method="POST">
      <button type="submit">Finalizar Pedido</button>
    </form>
  <% } %>
</body>
</html>
