


<h2>Novo Restaurante</h2>
<form action="/admin/restaurantes" method="POST">
  <input type="text" name="name" placeholder="Nome" required />
  <input type="text" name="address" placeholder="Endereço" required />
  <input type="text" name="imagemURL" placeholder="URL da imagem" />
  <button type="submit">Criar</button>
</form>

