<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Erro <%= status %></title>
</head>
<body>
  <h1>Erro <%= status %></h1>
  <p><%= message %></p>

  <%- include('../partials/footer') %>
</body>
</html>


