<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Erro <%= status %></title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="error-page">

  <div class="error-container">
    <h1>Ops, algo deu errado! (<%= status %>)</h1>
    <p><%= message %></p>

    <% if (user) { %>
      <% if (user.isAdmin) { %>

        <a href="/admin" class="btn">Voltar para Admin</a>
      <% } else { %>
        
        <a href="/home" class="btn">Voltar para Home</a>
      <% } %>

    <% } else { %>
      <a href="/" class="btn">Sair</a>
      <a href="/auth/login" class="btn">Fazer Login</a>
      <a href="/auth/cadastro" class="btn">Cadastro</a>
    <% } %>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
