<%- include('../../partials/menu') %>

<h2>Usuário criado com sucesso!</h2>

<p><strong>Nome:</strong> <%= newUser.name %></p>
<p><strong>Email:</strong> <%= newUser.email %></p>

<a href="/admin/users">Voltar para lista de usuários</a>

<%- include('../../partials/footer') %>
